.generator{
text-align:center;
}

.gen-box{

display:flex;

gap:20px;

justify-content:center;

flex-wrap:wrap;

margin-top:30px;

}

.gen-box input{

width:520px;

max-width:100%;

padding:20px;

border-radius:18px;

border:none;

background:#111;

color:white;

font-size:18px;

}

#generateBtn{

padding:20px 40px;

border:none;

border-radius:18px;

cursor:pointer;

font-weight:700;

background:

linear-gradient(
90deg,
var(--cyan),
var(--purple)
);

}

#status{

margin-top:30px;

color:var(--muted);

}

.game-card{

display:none;

margin-top:50px;

text-align:center;

}

.game-card img{

width:100%;

max-width:700px;

border-radius:24px;

}

.game-card h3{

margin-top:25px;

font-size:40px;

color:var(--cyan);

}

.game-card p{

margin-top:18px;

color:var(--muted);

}

#downloadBtn{

display:none;

margin-top:35px;

padding:22px 55px;

border:none;

cursor:pointer;

border-radius:18px;

font-size:22px;

font-weight:700;

color:black;

background:

linear-gradient(
90deg,
var(--cyan),
var(--purple)
);

box-shadow:

0 0 60px
rgba(5,255,247,.3);

}

@media(max-width:768px){

.gen-box{

flex-direction:column;

}

}